@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Specialty

<h2>Edit @Html.DisplayFor(model => model.Type)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SpecialtyId)

  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  @Html.Label("Add Doctor:")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="update" />
}

<p>@Html.ActionLink("Specialty Index", "Index")</p>